
{% extends 'base.html' %} <!-- base.html 템플릿을 상속받아 사용 -->
    {% block content %}
    <!-- main.html 의 콘텐츠 시작 -->
    
    <div class = "row">

        <!-- 상품 카테고리  -->
        <div class = "col-md-2 mx-0 px-0">

            <div class="accordion" id="accordionExample">
                <!-- 아코디언 상의 메뉴 -->
                <div class="accordion-item ">
                  <h2 class="accordion-header" id="headingOne" >
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        상의
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class = "row">
                            <div class = "col">
                                <a href=""><strong>전체</strong></a> <br>
                                <a href="">반팔류</a> <br>
                                <a href="">긴팔류</a> <br>
                                <a href="">민소매류</a>
                            </div>
                            <div class = "col">
                                <a href="">후드류</a> <br>
                                <a href="">셔츠류</a> <br>
                                <a href="">스웨터류</a>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 아코디언 아우터 메뉴 -->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        아우터
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class = "row">
                            <div class = "col">
                                <a href=""><strong>전체</strong></a> <br>
                                <a href="">집업류</a> <br>
                                <a href="">코트류</a> <br>
                                <a href="">자켓류</a>
                            </div>
                            <div class = "col">
                                <a href="">가디건류</a> <br>
                                <a href="">패딩류</a> <br>
                                <a href="">기타</a>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- 아코디언 바지 메뉴 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          바지
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class = "row">
                            <div class = "col">
                                <a href=""><strong>전체</strong></a> <br>
                                <a href="">데님</a> <br>
                                <a href="">코튼</a> <br>
                                <a href="">추리닝</a>
                            </div>
                            <div class = "col">
                                <a href="">슬랙스</a> <br>
                                <a href="">숏</a> <br>
                                <a href="">추리닝</a>
                               
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <!-- 아코디언 원피스 메뉴 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          원피스
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class = "row">
                            <div class = "col">
                                <a href=""><strong>전체</strong></a> <br>
                                <a href="">미니 원피스</a> 
                            </div>
                            <div class = "col">
                                <a href="">미디 원피스</a> <br>
                                <a href="">맥시 원피스</a>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <!-- 아코디언 스커트 메뉴 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          스커트
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class = "row">
                            <div class = "col">
                                <a href=""><strong>전체</strong></a> <br>
                                <a href="">미니 스커트</a> 
                            </div>
                            <div class = "col">
                                <a href="">미디 원피스</a> <br>
                                <a href="">롱 원피스</a>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
        </div>

        <!-- 내 정보 -->
        <div class = "col-md-2 px-0 mx-0">
            <div class="card">
                <div class="card-header represent-color">
                    나의 신체 스펙
                </div>
                <div class="card-body">
                    <!-- 로그인했을 때는 사용자의 신체 스펙 가져옴 -->
                    {% if user.is_authenticated %} <!-- 로그인된 상태인지 체크 -->
                        <p>키 :  {{user.height}} cm</p>
                        <p>몸무게 : {{user.weight}} kg</p>
                    <!-- 로그인하지 않았을 때는, 로그인 후 이용 -->
                    {% else %} 
                        <p>로그인 후 이용가능한 기능입니다.</p>
                    {% endif %}
                    <!-- 로그인했을 때는 회원 정보가 뜬다 -->
                </div>
            </div>
            <div class="card">
                <div class="card-header represent-color">
                    인생 상품 정보
                </div>
                <div class="card-body">
                    <label for="inputPassword5" class="form-label"><h6>키 (cm)</h6></label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>
                    <label for="inputPassword5" class="form-label"><h6>어깨 (cm)</h6></label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>
                    <label for="inputPassword5" class="form-label">가슴 (cm)</label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>
                    <label for="inputPassword5" class="form-label">소매 (cm)</label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>
                    <label for="inputPassword5" class="form-label">허리 (cm)</label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>
                    <label for="inputPassword5" class="form-label">밑위 (cm)</label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>
                    <label for="inputPassword5" class="form-label">밑단 (cm)</label>
                    <input type="number" id="inputPassword5" class="form-control" aria-describedby=""><br/>


                    
                    <div class = "text-center">
                        <a href="#" class="btn my-1 represent-color-btn" style="width:90%">입력 값 저장</a>
                        

                        <!-- 구매 상품으로 입력하기 모달 -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn represent-color-btn" style="width:90%" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          구매 상품으로 입력하기
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">구매 내역</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <!-- 구매내역 -->
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- 모달 부분 끝 -->
                    </div>
                </div>
            </div>

        </div>

        <!-- 쇼핑몰 정렬 및 쇼핑몰 띄우는 구역 -->
        <div class = "col-md-8 py-3">
          <div class = "container">
            <!-- 나의 인생 아이템 수치와 비슷한 상품 정렬 -->
            <h2 class = "py-3 represent-color">수치 기준 상품 정렬 👕👚</h2>
            <!-- 상품 카드 -->
            <div class = "row text-center">
              {% for i in itemPosts %} <!-- 12개씩 보내지는 posts 로 바꿔줌 -->
                  <div class = "col-3 mx-4 my-4 item-div">
                    <div class = "py-1">
                      <div style = "height: 60%;">
                        <img src = "{{i.image.url}}" class = "my-2" height="150px;">
                      </div>
                      <div class = "mb-4" style = "height: 30%;">
                        <h6>{{i.name}}</h6>
                        <h6>{{i.price}} 원</h6>
                        <a href = "{{i.shop_url}}">{{i.shop_name}}</a><br> <!-- 쇼핑몰 이름 -->
                      </div>
                      <div style = "height: 10%;">
                        <!-- 3D 아바타 기능 -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn circle represent-color-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          3D
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">착용 모습</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <img src = "https://fimg4.pann.com/new/download.jsp?FileID=47840897" style = "height: 500px;">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
            <hr>
            <h2 class = "py-3 represent-color">모델 기준 쇼핑몰 정렬 🚶‍♀️🚶</h2>
            <!-- 쇼핑몰 카드 -->
            <div class = "row text-center">
              {% for i in storePosts %} <!-- 12개씩 보내지는 posts 로 바꿔줌 -->
                  <div class = "col-3 mx-4 my-4 item-div">
                    <div class = "mt-5">
                      <a  href="{{i.url}}"><h5>{{i.Name}}</h5></a> <!-- 쇼핑몰 이름 -->
                      <br/><br/><br/>
                      <h6>모델 스펙</h6>
                      <h6>- cm</h6>
                      <h6>- kg</h6>
                    </div>
                  </div>
              {% endfor %}
            </div>
            
          </div>
        </div> <!-- 쇼핑몰 정렬 및 쇼핑몰 띄우는 구역 끝 -->
    </div>

    <!-- main.html 의 콘텐츠 끝 -->
    {% endblock %}