{% extends 'base.html' %} <!-- base.html 템플릿을 상속받아 사용 -->
    {% block content %}
    <div class="wrapper" style="text-align: center">
        <h2 class="sub-title">🙇‍로그인🙇</h2><br>
        <form action = "{% url 'login' %}" method = "POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type = "submit" class="btn btn-outline-secondary">로그인</button>
            <a href="{% url 'signup' %}" class="btn btn-light">회원가입</a>
        </form>    
    </div>
    
    {% endblock %}