{% extends 'base.html' %} <!-- base.html 템플릿을 상속받아 사용 -->
    {% block content %}
    <div class="wrapper" style="text-align: center" margin="100px">
        <h2 class="sub-title">👩‍💻회원가입🧑‍💻</h2><br>
        <form action = "{% url 'signup' %}" method = "POST">
            {% csrf_token %}
            <h5>아이디<br></h5>
            <div class="form-group">{{ form.username }}</div>
            <br><br>

            <h5>비밀번호<br></h5>
            <div class="form-group">{{ form.password1 }}</div>
            <br>
            <div class="form-group">{{ form.password2 }}</div>
            <br><br>
            
            <h5>신체 사이즈<br></h5>
            <div class="form-group">{{ form.height }} cm <br><br></div>
            <div class="form-group">{{ form.weight }} kg <br><br></div>
            
            <br><button type = "submit">회원가입</button>
        </form>    
    </div>
    {% endblock %}

