.represent-color{
    background-color: white;
    color : #7388B0;
    border-style: none;
}

.represent-color:hover{
    background-color: white;
    color : #617496;
    border-style: none;
}

.represent-color-btn{
    background-color: #7388B0;
    color : white;
    border-style: none;
}

.represent-color-btn:hover{
    background-color: #617496;
    color : white;
    border-style: none;
}

a {
    color : #7388B0;
    text-decoration: none;
}

a:hover{
    color : #617496; 
    text-decoration: none;
}


.item-div{
    background-color: #e8ebf048;
    color : black;
    height: 300px;
}

.item-div:hover{
    background-color: #e8ebf0a2;
    color : black;
    height: 300px;
}


.navbar{
    display: flex;
    flex-direction: row;
    background-color: #617496;
}

.logo{
    display: flex;
}

.navbarbutton{
    float: right;
}

.footer{
    display: flex;
    background-color: #617496;
    flex-shrink: 0;
    align-items: center;
}
